<div class="alert alert-danger alert-dismissable m05" id="tohide">
        <h4>Внимание!</h4>
        Вы не заполнили поле ввода.
          <button type="button" data-dismiss="alert" class="closebtn btn btn-danger pull-right">Я все исправлю</button>
</div>